div.uk-width-1-1.rules
    div.uk-container.uk-container-center
        h1.reg RULES
        hr(style='color:white')


|<style>
|.uk-navbar{
|    background-color: green;
|}
|.uk-navbar-toggle{color:lawngreen;}
|.uk-navbar-toggle:hover{color:lawngreen;}
|.rules{
|   background:green;
|   color:white;
|}
|<\style>