*{
    font-family: 'Titillium Web', sans-serif;
}

html{
    background: lawngreen;
    overflow: auto;
}

.uk-offcanvas.uk-active .uk-offcanvas-bar{
    background: transparent;
    color: black;
}

.uk-nav-offcanvas>.uk-open>a, html:not(.uk-touch) .uk-nav-offcanvas>li>a:focus, html:not(.uk-touch){
    color:black;
    font-size:40px;
}

.uk-nav-offcanvas>li>a{
    padding:20px 0 20px 0;
}

.uk-nav, .uk-nav ul{
    padding:20px 0 5px 0;
    color: black;
}

.uk-nav-offcanvas>li>a{
    color:black;
}

.main{
    padding:10px;
}

.uk-navbar{
    background-color: white;
    height:60px;
}

.view{
    background:white;
}

.reg{
    width:100%;
    height:auto;
    padding-top:60px;
    color:white;
    text-align:center;
    font-family: 'Titillium Web', sans-serif;
    font-size:60px;
}

.regHeader{
    width:100%;
    background:black;
    height:200px
}

#main{
    background: url("../images/_original.jpg") no-repeat top right;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
@media screen and (max-width:420px) {
    .reg{
        padding-top:30px;
        font-size:30px;
    }

    .regHeader {
        height:100px;
    }
}