doctype html

html(lang='en')
    head
        link(href="/favicon/favicon.ico" rel="shortcut ico" type="image/x-icon")
        link(href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css')
        //base(href="http://localhost:7777/")
        base(href="https://lit-gorge-40906.herokuapp.com/")
        title BPL

        |<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
        link(href='/vendor/uikit/css/uikit.min.css' rel='stylesheet' type='text/css')
        link(href='/css/main.css' rel='stylesheet' type='text/css')
    body.uk-width-1-1(ng-cloak, ng-app='bplApp')
        div.main.uk-width-1-1
            include ./header
            block main
            include ./scripts
            include ./scriptsLocal