div#reg
    div.regHeader
        h1.reg.uk-vertical-align-middle.uk-container.uk-container-center(style='') Register

    div.contacts



script.
    $("#reg").height($(window).height()/1.09);

    $(window).resize(function(){
        $("#reg").height($(window).height()/1.09)
    })

|<style>
| .uk-navbar{
|     background: black;
| }
|.uk-navbar-toggle{color:lawngreen;}
|.uk-navbar-toggle:hover{color:lawngreen;}
|<\style>