div.uk-container.uk-container-center(style='padding:50px')
    ul.uk-list.uk-list-space.uk-list-stripped.uk-list-line(style='text-align:center')
        li(style='padding:20px')
            a(ng-href='/admin/addTeam') addTeam
        li(style='padding:20px')
            a(ng-href='/admin/updateTeam') UpdateTeam