div#main
    div(ng-controller='bHeaderCtrl')
        nav.uk-navbar(style='padding-top:12px')
            a.uk-navbar-brand.brand(ng-href='/')
                img(ng-src='/images/bpl_logo.png' style='height:50px')
            div.uk-navbar-flip
                a.uk-navbar-toggle(ng-href='#sidebar' data-uk-offcanvas style='font-size:34px;padding-top:12px')

    div#sidebar.uk-offcanvas
        div.uk-offcanvas-bar.uk-offcanvas-bar-flip(onclick="jQuery.UIkit.offcanvas.hide();$('body').height($(window).height());")
            ul.uk-nav.uk-nav-offcanvas(data-uk-nav)
                li
                    a(ng-href='/reg' style='padding-left:12px') REGISTER
                li
                    a(ng-href='/rules' style='padding-left:12px') RULES
                li
                    a(ng-href='/about' style='padding-left:12px') ABOUT US
            strong.uk-vertical-align-middle(style='text-align:center;font-size:17px;margin:0 15px;')
                small &copy; 2016 mkds


    div#mainHeader.uk-container.uk-container-center
        div#heading.uk-container-center.uk-container(style='color:lawngreen')
            p.hea BIET
            p.hea PREMIER
            p.hea LEAGUE - 8

    section#bottom.uk-width-1-1(style='background:transparent;padding-top:200px')
        div(style='background:black')
            div#reg
                div.uk-container.uk-container-center
                    a#regBtn.uk-button.uk-align-center(ng-href='/reg' style='') REGISTER TODAY

            hr.uk-container.uk-container-center(style='border:2px solid lawngreen')

            div#stat(style='color:lawngreen;padding:12px')
                p(style="text-align:center;font-weight:bolder") INAUGURATION ON 15 - FEB - 2015
                div(style='text-align:center')
                    p VENUE: BIET CRICKET GROUND
                    p TIME: 4:15pm


script.
    $("#main").height($(window).height() / 1.025);

    $(window).resize(function () {
        $("#main").height($(window).height() / 1.025)
    })

|<style>
|.header{
|    display:none;
|}
|.uk-navbar{background:transparent;}
|.uk-navbar-toggle{color:lawngreen;}
|.uk-navbar-toggle:hover{color:lawngreen;}
|<\style>
